<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_Alternate>
            <version>1.1.0</version>
        </Webgriffe_Alternate>
    </modules>
    <global>
        <models>
            <webgriffe_alternate>
                <class>Webgriffe_Alternate_Model</class>
                <resourceModel>webgriffe_alternate_resource</resourceModel>
            </webgriffe_alternate>
            <webgriffe_alternate_resource>
                <class>Webgriffe_Alternate_Model_Resource</class>
            </webgriffe_alternate_resource>
        </models>
        <blocks>
            <webgriffe_alternate>
                <class>Webgriffe_Alternate_Block</class>
            </webgriffe_alternate>
        </blocks>
        <helpers>
            <webgriffe_alternate>
                <class>Webgriffe_Alternate_Helper</class>
            </webgriffe_alternate>
        </helpers>
        <resources>
            <webgriffe_alternate_setup>
                <setup>
                    <module>Webgriffe_Alternate</module>
                </setup>
            </webgriffe_alternate_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <webgriffe_alternate>
                    <files>
                        <default>Webgriffe_Alternate.csv</default>
                    </files>
                </webgriffe_alternate>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <webgriffe_alternate>
                        <type>singleton</type>
                        <class>webgriffe_alternate/observer</class>
                        <method>addAlternateLinksToHeadBlock</method>
                    </webgriffe_alternate>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <default>
        <catalog>
            <webgriffe_alternate>
                <include_region>1</include_region>
                <override_region>0</override_region>
                <override_region_value></override_region_value>
            </webgriffe_alternate>
        </catalog>
    </default>
</config>
